<h1>Listas de reproducción</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Description</th>
      <th>Likes</th>
    </tr>
  </thead>
  <tbody>
      <% @playlists.each do |playlist| %>
      <tr>
        <td><%= playlist.name %></td>
        <td><%= playlist.description %></td>
        <td><%= playlist.likes %></td>
        <td><%= link_to 'Show', playlist %></td>
        <td><%= link_to 'Edit', edit_playlist_path(playlist) %></td>
        <td><%= link_to 'Destroy', playlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>      </tr>
      <% end %>
  </tbody>
</table>